// TYPO.scss -> /scss/base/typo.scss

// google fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800|Roboto+Slab:100,400,700');

//________________________________________
//______________ VARIABLES _______________
//________________________________________

$Raleway : 'Raleway', sans-serif;
$RobotoSlab : 'Roboto Slab', serif;

//________________________________________
//________________ MIXINS ________________
//________________________________________

@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}{
        @content
      }
    }
}

@include headings(){
    font-family:$Raleway;
}

div{
    @include headings(){
      color:tomato;
    }
}

// example
.sweet{
    @include headings(1,3){
      color:#FFB847;
    }
    // headings(4,6) or just headings(4)
    @include headings(4){
      color:#3B88CC;
    }    
}

